services:
  # Full-stack application (API + Client)
  - type: web
    name: beds4crew
    env: node
    region: oregon
    buildCommand: npm install --prefix client && npm run build --prefix client && npm install --prefix server --omit=dev
    startCommand: node server/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
